.fondoazul{
    background-color:rgb(24, 24, 100);
}

.fondonaranja{
    background-color: orange;
}

.fondoceleste{
    background-color:rgb(120, 160, 234);
}

.fondoamarillo{
    background-color:rgb(253, 255, 133);
}

.padding{
    margin-top: 2 em;
    }

